{% extends "base.html" %} {% block title %}{{title}}{% endblock %} {% block
head_extra %} {% endblock %} {% block content %}

<div class="div" style="height: 100px"></div>

<div class="container-fluid text-center text-md-center">
  <button
    type="submit"
    class="btn btn-primary btn-lg mt-3"
    data-bs-toggle="modal"
    data-bs-target="#loginModal"
  >
    LOGIN
  </button>
</div>
<!-- Sign up button-->
<div class="container-fluid text-center text-md-center">
  <button
    type="submit"
    class="btn btn-primary btn-lg mt-5"
    data-bs-toggle="modal"
    data-bs-target="#signupModal"
  >
    Sign Up
  </button>
</div>

<!-- Login Modal -->
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              placeholder="Enter username"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- Sign Up Modal -->
<div
  class="modal fade"
  id="signupModal"
  tabindex="-1"
  aria-labelledby="signupModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalLabel">Sign Up</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="signupForm">
          <div class="mb-3">
            <label for="signupUsername" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="signupUsername"
              required
            />
          </div>
          <div class="mb-3">
            <label for="signupPassword" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="signupPassword"
              required
            />
          </div>
          <div class="mb-3">
            <label for="signupPasswordConfirm" class="form-label"
              >Retype Password</label
            >
            <input
              type="password"
              class="form-control"
              id="signupPasswordConfirm"
              required
            />
          </div>
          <div class="mb-3">
            <label for="signupEmail" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="signupEmail"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" form="signupForm">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<div class="div" style="height: 250px"></div>

{% endblock content %} {% block scripts %}

<script>
  document
    .getElementById("signupForm")
    .addEventListener("submit", function (event) {
      var password = document.getElementById("signupPassword").value;
      var confirmPassword = document.getElementById(
        "signupPasswordConfirm"
      ).value;

      if (password !== confirmPassword) {
        alert("Passwords do not match.");
        event.preventDefault(); // Prevent form submission
      }
    });
</script>
{% endblock scripts %}
