{% extends "base.html" %} 
{% block title %}{{title}}{% endblock %} 
{% block head_extra %} {% endblock %} 
{% block content %}

<!-- Spacer div for aesthetic spacing -->
<div class="div" style="height: 100px"></div>

<!-- Login Button - triggers the login modal -->
<div class="container-fluid text-center text-md-center">
 <button
   type="button"
   class="btn btn-primary btn-lg mt-3"
   data-bs-toggle="modal"
   data-bs-target="#loginModal"
 >
   LOGIN
 </button>
</div>

<!-- Registration Button - triggers the registration modal -->
<div class="container-fluid text-center text-md-center">
 <button
   type="button"
   class="btn btn-primary btn-lg mt-5"
   data-bs-toggle="modal"
   data-bs-target="#registrationModal"
 >
   Sign Up
 </button>
</div>
<!-- Login Modal Structure -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Login Form -->
        <form method="POST" action="{{ url_for('home') }}">
          <!-- CSRF Token for security -->
          {{ login_form.hidden_tag() }}
          {{ login_form.csrf_token(id='csrf_token_login') }}
            <!-- Email Input Field -->
          <div class="mb-3">
            {{ login_form.email.label(class="form-label") }} {% if
            login_form.email.errors %} {{ login_form.email(class="form-control
            is-invalid") }}

            <div class="invalid-feedback" id="login-error">
              {% for error in login_form.email.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
          </div>
          
            {% else %} {{ login_form.email(class="form-control") }}
  
            {% endif %}
          </div>
           <!-- Password Input Field -->
          <div class="mb-3">
            {{ login_form.password.label(class="form-label") }} {% if
            login_form.password.errors %} {{
            login_form.password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in login_form.password.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ login_form.password(class="form-control") }} {% endif
            %}
          </div>
          <!-- Remember Me Checkbox -->
          <div class="mb-3 form-check">
         
            {{ login_form.remember(class="form-check-input") }}
            {{ login_form.remember.label(class="form-check-label") }}
          </div>
          <!-- Login Button -->
          <input type="submit" name="login_submit" class="btn btn-primary mb-3" value="Log In">
        </form>
        <!-- Forgot Password Link -->
          <small class="text-muted my-2">
            <a href="#">Forgot Password?</a>
          </small>
        </form>
      </div>
      <div>
        <!-- Sign Up Link -->
        <small class="text-muted ms-2">
          <a href="#registrationModal">Don't have an account? Sign Up</a>

        </small>
      </div>
    </div>
  </div>
</div>

  <!-- Registration Modal -->
  <div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registrationModalLabel">Sign Up</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Registration Form -->
          <form id="registrationForm" method="post" action="{{ url_for('home') }}">
            <!-- CSRF Token for security -->
            {{ registration_form.hidden_tag() }}
            {{ registration_form.csrf_token(id='csrf_token_register') }}
            <!-- Username Input Field -->
          <div class="mb-3">
            {{ registration_form.username.label(class="form-label") }} {% if
            registration_form.username.errors %} {{
            registration_form.username(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in registration_form.username.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ registration_form.username(class="form-control") }} {%
            endif %}
          </div>
          <!-- Email Input Field -->
          <div class="mb-3">
            {{ registration_form.email.label(class="form-label") }} {% if
            registration_form.email.errors %} {{
            registration_form.email(class="form-control is-invalid") }}
            <div class="invalid-feedback" id="registration-email-error">
              {% for error in registration_form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
            
            {% else %} {{ registration_form.email(class="form-control") }}
            <div
              id="registration_email-error"
              class="invalid-feedback invalid-tooltip"
            ></div>            
            {% endif %}
          </div>
          <!-- Password Input Field -->
          <div class="mb-3">
            {{ registration_form.password.label(class="form-label") }} {% if
            registration_form.password.errors %} {{
            registration_form.password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in registration_form.password.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ registration_form.password(class="form-control") }} {%
            endif %}
          </div>
          <!-- Confirm Password Input Field -->
          <div class="mb-3">
            {{ registration_form.confirm_password.label(class="form-label") }}
          
            {% if registration_form.confirm_password.errors %} {{
            registration_form.confirm_password(class="form-control is-invalid")
            }}
            <div class="invalid-feedback">
              {% for error in registration_form.confirm_password.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{
            registration_form.confirm_password(class="form-control") }} {% endif
            %}
          </div>
          <!-- Register Button -->
          <input type="submit" name="register_submit" value="Register" class ="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Additional spacing at the bottom of the modal -->
<div class="div" style="height: 250px"></div>

{% endblock content %} 

{% block scripts %}
<script>
    window.onload = function() {
        // Check if there are login errors
        var loginError = document.getElementById('login-error');
        if (loginError && loginError.innerHTML.trim() != '') {
            // reOpen the login modal
            new bootstrap.Modal(document.getElementById('loginModal')).show();
        }

        // Check if there are registration errors
        var registrationError = document.getElementById('registration-email-error');
        if (registrationError && registrationError.innerHTML.trim() != '') {
            // reOpen the registration modal
            new bootstrap.Modal(document.getElementById('registrationModal')).show();
        }
    };
</script>
{% endblock scripts %}


