<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tester</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
      /* Style invalid inputs with red border */
      input:invalid {
          border-color:  red;
          border-width: 2px;
      }
  
      /* Style valid inputs with green border */
      input:valid {
          border-color: green;
      }
  </style>
</head>
<body>
    

    <div class="container-fluid">
        <nav class="navbar row justify-content-around fixed-top" style="background-color: #e3f2fd;">
            <div class="container-fluid justify-content">
                <a class="navbar-brand ps-3" href="landing-page.html">
                    <img src="/webapp/POD_LOGO_transparent.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-center">
                  </a>
                  <div class="justify-content-center">
                    <h1 class="mb-0 text-primary d-none d-md-block">Provider on Demand - Insider</h1>
                </div>
    
              <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Future Link</a>
                  </li>
                  <li class="nav-item dropdown p-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      VAM Audiology Data
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Add Data</a></li>
                      <li><a class="dropdown-item" href="vam-audio-search.html">Search</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="vam-audio-download.html">Download Entire dataset</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link">LOGOUT</a>
                  </li>
                </ul>
    
              </div>
            </div>
          </nav>
    </div>
        <!--              tabs            -->


        <h2>Tabs</h2>
    <div class="container">
     
            
        <ul class="nav nav-pills mt-5 justify-content-center ">
            <li class="nav-item">
                <a class="nav-link" href="vam-audio-search.html">Search</a>
              </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Add Data</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="vam-audio-download.html">Download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href ="landing-page.html">Back</a>
            </li>
          </ul>
        </div>

        <!--        FORM         -->
        <div class="container mt-5">
          <form>
              <div class="row g-3" novalidate>
                  <div class="col-md-4 col-12">
                      <input type="text" class="form-control" placeholder="First name" aria-label="First name" required>
                  </div>
                  <div class="col-md-4 col-12">
                      <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" required>
                  </div>
                  <div class="col-md-2 col-12 text-start text-md-end">
                      <label for="inputDOB">Date of Birth:</label>
                  </div>
                  <div class="col-md-2 col-12">
                      <div class="form-group">
                          <input type="date" class="form-control" id="inputDOB" required>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <label for="inputID">ID Number:</label>
                      <input type="text" class="form-control" id="inputID" placeholder="ID" aria-label="ID" required>
                  </div>
                  <div class="col-md-12 text-danger" id="validationMessage"></div>
              </div>
          </form>
      </div>
      <div class="container-fluid">
        <div class="form-group my-4">
            <label class="ms-2 mb-3">Left Thresholds (Hz)</label>
            <div class="row">
                <div class="col-2 col-md">
                    <input type="text" class="form-control custom-input" placeholder="500 Hz" required>
                </div>
                <div class="col-2 col-md">
                    <input type="text" class="form-control custom-input" placeholder="1K Hz" required>
                </div>
                <div class="col-2 col-md">
                    <input type="text" class="form-control custom-input" placeholder="2K Hz" required>
                </div>
                <div class="col-2 col-md">
                    <input type="text" class="form-control custom-input" placeholder="3K Hz" required>
                </div>
                <div class="col-2 col-md">
                    <input type="text" class="form-control custom-input" placeholder="4K Hz" required>
                </div>
                <div class="col-2 col-md">
                    <input type="text" class="form-control custom-input" placeholder="6K Hz" required>
                </div>
                <div class="col-2 col-md">
                    <input type="text" class="form-control custom-input" placeholder="8K Hz" required>
                </div>
            </div>
        </div>
        <div class="form-group mt-4">
            <label class="ms-2 my-3">Right Thresholds (Hz)</label>
            <div class="row">
                <div class="col-2 col-md">
                    <input type="text" class="form-control custom-input" placeholder="500 Hz" required>
                </div>
                <div class="col-2 col-md">
                    <input type="text" class="form-control custom-input" placeholder="1K Hz" required>
                </div>
                <div class="col-2 col-md">
                    <input type="text" class="form-control custom-input" placeholder="2K Hz" required>
                </div>
                <div class="col-2 col-md">
                    <input type="text" class="form-control custom-input" placeholder="3K Hz" required>
                </div>
                <div class="col-2 col-md">
                    <input type="text" class="form-control custom-input" placeholder="4K Hz" required>
                </div>
                <div class="col-2 col-md">
                    <input type="text" class="form-control custom-input" placeholder="6K Hz" required>
                </div>
                <div class="col-2 col-md">
                    <input type="text" class="form-control custom-input" placeholder="8K Hz" required>
                </div>
            </div>
        </div>
    </div>
    
        
    <div class="container">
      <div class="form-group row justify-content-end mt-5">
          <div class="col-auto">
              <button type="button" class="btn btn-primary btn-lg" id="submitButton">Submit</button>
          </div>
      </div>
  </div>
            <!-- SPACER --> 
    <div class="div" style="height: 250px"></div>

    <footer class="footeer bg-primary" data-bs-theme="dark" >
        <div class="container">
          <div class="d-flex justify-content-between">
              <span class="text-muted"><i class="bi bi-c-circle"></i> 2023 J Flint Smith MD</span>
              <a href="https://www.linkedin.com/in/flint-smith-a89211290">
                  <i class="bi bi-linkedin pe-5" style="font-size: 30px;"></i>
              </a>
          </div>
      </div>
      </footer>

        <!-- -------------------------------------------------   -->

        <script src="js/bootstrap.bundle.js"></script>

        <script>
          const form = document.querySelector('form');
          const submitButton = document.getElementById('submitButton');
          
          submitButton.addEventListener('click', function () {
              if (form.checkValidity()) {
                  // Form is valid, you can submit it here if needed.
                  alert('Form is valid. Submitting...');
              } else {
                  // Form is not valid, show a warning message.
                  alert('Please complete all fields.');
              }
          });
      </script>


</body>
</html>
