{% extends "base.html" %} {% block title %}{{title}}{% endblock %}{% block
head_extra %} {% endblock head_extra %} {% block content %}
<!-----------------NAV - TABS ----------------------------->

<div class="container">
  <ul class="nav nav-pills mt-5 justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('vam_audio_search') }}">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('vam_audio_add') }}">Add Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Dowload</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('landing_page') }}">Back</a>
    </li>
  </ul>
</div>

<div class="div" style="height: 100px"></div>

<div class="container mt-5">
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" id="downloadButton" type="button">
      Download VAM audiology data.csv
    </button>
  </div>
</div>

{% endblock content %}
<!-- -------------------------------------------------   -->

{% block scripts %}

<script>
  document.getElementById("downloadButton").addEventListener("click", () => {
    // Assuming the server script has generated the CSV file , i think i learn this in flask versus node.js

    const csvFilePath = "sampleData.csv";

    // Create an anchor element to trigger the download
    const a = document.createElement("a");
    a.href = csvFilePath;
    a.download = "sampleData.csv";
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
  });
</script>

{% endblock scripts %}
